
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
	bottom: 0;
	left: 0%;
	right: 0%;
	height: 44px;
}

.tabbar-item{
	text-align: center;
	color: #888888;
}

a{ color: #1AA2B4;text-decoration:none; /*无链接时颜色*/ }

.btn-warning {
	
	background-color: #D37BD8;
	border-color: #D37BD8;
	color: #ffffff;
	
}

.btn-warning:hover, .btn-warning:active, .btn-warning:disabled{
	
	background-color: #A34BA8;
	border-color: #A34BA8;
	color: #ffffff;
	
}

.icon {
	background: url('/images/三角函数.jpg');
	height: 20px;
	width: 20px;
	display: block;
	/* Other styles here */
}

.active{
	color: #ffffff;
}

.navbar.center .navbar-inner {
	text-align: center;
}

.navbar.center .navbar-inner .nav {
	display:inline-block;
	float: none;
}

.bgimg {
  width: 100%;
  height: 50%; 
}


img, object {
   
   height: 72px;
   width: auto;
}

/*.svg {
	
	height: 60px;
	width: auto;
}*/


.row [class^="col-xl"]{
	
	padding: 0px;
}

.row [class^="col-lg"]{
	
	padding: 0px;
}

.row [class^="col-md"]{
	
	padding: 0px;
}

.row [class^="col-sm"]{
	
	padding: 0px;
}



/*.row [class^="col-md-12"]{
	background-color: rgba(51, 170, 51, 0.1);
	
	
}*/



.bottom {
	
	position: absolute;
	bottom: 16px;
	
}





.col12, .col1fundation, .col2func, .col3tri, .col4vect, .col5solid, .col6analy, .col7prob, .col8seq, .col9diff{
	margin: 8px;
	
	min-height: 160px;
	text-align: center;
    vertical-align: bottom;
	background-color: red;
	border-radius: 8px;
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.25);
	/*position: relative;*/
	/*vertical-align: middle;*/
	
}

.col1fundation {
	
	background-color: #C5E3EF;
	
}

.col2func {
	
	background-color: #C4EEE9;
	
}

.col3tri {
	
	
	background-color: #C8D1EF;
	
}


.col4vect{
	
	background-color: #EEC9F1;
	
}

.col5solid {
	
	background-color: #EEDABE;
	
}

.col6analy {
	
	background-color: #D4C0AE;
	
}

.col7prob {
	
	background-color: #EEBBBA;
	
}

.col8seq {
	
	background-color: #C9EFC6;
	
}


.col9diff {
	
	background-color: #EDEAC0;
	
}

.col000 {
	background-color: transparent;
	min-height: 80px;
}
