.bgimg {
  width: 100%;
  height: 50%; 
}



.row [class^="col-md"]{
	background-color: rgba(51, 170, 51, 0.05);
	padding: 0px;
}


.row [class^="col-md-12"]{
	background-color: rgba(51, 170, 51, 0.1);
	
	
}



. bottom {
	
	position: absolute;
	bottom: 16px;
	
}





.col1, .col2, .col3, .col4, .col5, .col6, .col12 {
	margin: 8px;
	
	min-height: 160px;
	text-align: center;
    vertical-align: bottom;
	background-color: red;
	border-radius: 8px;
	box-shadow:  0px 2px 6px rgba(0, 0, 0, 0.25);
	/*position: relative;*/
	/*vertical-align: middle;*/
	
}

.col1 {
	
	background-color: #999999;
	
}

.col2 {
	
	background-color: #EEDABE;
	
}

.col3 {
	
	
	background-color: #EDEAC0;
	
}


.col4 {
	
	background-color: #C9EFC6;
	
}

.col5 {
	
	background-color: #C4EEE9;
	
}

.col6 {
	
	background-color: #EEC9F1;
	
}


.height-100 {
	
	height: 100px;
}

.height-80 {
	
	height: 80px;
}

.height-60 {
	
	height: 60px;
}

.height-40 {
	
	height: 40px;
}

.height-20 {
	
	height: 20px;
}

